* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


/*navegador*/
nav {
    width: 100%;
    height: 80px;
    background: rgb(139, 243, 186);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(255, 0, 106, 0.781);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;

}

.nav .logo img {
    border-radius: 20px;
    height: 100%;
    vertical-align: top;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}

/*hamburger*/
.hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
}

/*seccion catalogo mujer*/
/*section logo*/
.contenedor{
    width: 90%;
    max-width: 10000px;
    margin: auto;
    padding: 60px 0;
}

/* Header */
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

/*navegador */
nav {
    width: 100%;
    height: 80px;
    background: rgb(233, 240, 236);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(255, 0, 106, 0.781);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;

}

.nav .logo img {
    border-radius: 20px;
    height: 100%;
    vertical-align: top;
}

/* estilo al costado del logo */
.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}

/* Fin */

section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

section h2{
    position: relative;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.card{
  width: 33.333333%;
}

/* Estilo tarjetas

.articulo {
    width: 29%;
    background: rgb(202, 145, 145);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #aa3737;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p {
    font-weight: 100;
    color: #000000;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #1f22de;
    transition: color .5s;
}
*/

/*Estilo */
.estilo{
    font-family: sans-serif;
    width: 30%;
  }
  .estilo .img-container{
    overflow: hidden;
    height: 250px;
    position: relative;
    border-radius: 15px;
  }
  .estilo .img-container img{
    width: 105%;
    position: absolute;
    top: -60%;
    transition: all 0.5s;
  }
  .estilo:hover .img-container img{
    transform: scale(1.2);
  }
  .estilo .img-container .promo{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    /*para ver descuento*/
    background: rgb(230, 141, 68);
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .estilo .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .estilo .info-container h3{
    margin: 0;
  }
  .estilo .info-container h3,
  .estilo .info-container strong,
  .estilo .info-container span{
    position: relative;
    padding: 5px 15px;
    width: 100%;
  }
  .estilo .add-cart{
    margin-top: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 105, 162);
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
  }
  .estilo .add-cart:hover{
    color: black;
    background-color: rgb(109, 146, 247);
    border: 1px solid black;
  }

/*MENU*/
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 10px 80px;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #e94646;
	transition: all .3s;
}

/* footer */
footer {
    background: #fae792;
    padding: 100px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
    text-align: center;
}

.partFooter h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter img {
    width: 100%;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media1 i {
    font-size: 20px;
    display: inline-block;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}


.social-media i:hover {
    color: #fff;
    background-color: #0d72f5;
    border-color: #000000;
}
.social-media1 i:hover {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Breakpoints responsive */

@media screen and (max-width:800px) {
    .titulo {
        font-size: 45px;
    }

    .contenido-header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }

    .contenido-header>img {
        width: 400px;
    }

    .textos-header {
        margin: 0;
    }

    /* About us 

    .articulo {
        width: 45%;
    }
    */
    /* Questions 

    .questions {
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .questions>img {
        width: 400px;
    }
    */

    /* results */

    .conten-results {
        flex-direction: column-reverse;
    }

    .results-text>a {
        margin-bottom: 60px;
    }

    .numbers {
        width: 100%;
        /* justify-content: space-between; */
    }

    .results-text {
        width: 100%;
    }

    /* Services */

    .services {
        flex-direction: column-reverse;
        align-items: center;
    }

    .box-skills {
        margin: 0 0 40px 0;

    }

    .box-skills h4 {
        width: 500px;
    }

    .services>img {
        width: 400px;
    }

    /* Footer */

    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }

    .contenido-header {
        height: 650px;
    }

    .nav {
        padding: 0 10px;
    }

    .contenido-header>img {
        width: 200px;
    }

    .enlaces-header {
        position: fixed;
        background: #667db6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos {

        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);

    }

    .nav .enlaces-header a {
        color: #fff;
    }

    .hamburguer {
        display: block;
    }

    /* About us */

    .articulo {
        width: 95%;
    }

    /* Questions */

    .questions>img {
        width: 200px;
    }

    /* results */

    .numbers .number {
        width: 95%;
    }

    .results-text h4 {
        font-size: 35px;
    }

    /* Services */

    .services>img {
        width: 200px;
    }

    .box-skills h4 {
        width: 100%;
    }

    /* Footer */
    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }
}